<template>
	<style type="text/css">
		ul{ list-style-type: none; }
		li{ float: left; }
	</style>
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright © 2015 - 2016 充值管理 All Rights Reserved 联系我们</p>
				</div>
			</div>
		</div>
		
			<ul>
				<h-code>
					var _arr = [];
		            for(var i=0;i<this.p;i++){
		              _arr.push('<li>页数 '+i+'</li>')
		            }
		            return _arr;
				</h-code>
			</ul>
		

	</footer>
</template>

<script>
	var property = hmd.component.property
	return {
		p : property.footer.name
	}
</script>